body{
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  color: #2e5e3c;
  font-size: 16px;
}

a , a:visited{
  color: #dd7812;
}

a:hover{
  color: #facd89;
}

h2{
  color: #339834;
  font-size: 28px;
  background-image: url("../images/leaf.png");
  background-repeat: no-repeat;
  padding-left: 20px;
}

h3{
  font-size: 20px;
}

header{
  margin-top: 10px;
  overflow: hidden;
}

#pagetop{
  margin-top:10px;
  margin-bottom: 10px;
}

.logo h1{
  background-image:url("../images/title.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-left: 20px;
  color:#339834;
  font-weight: bold;
  font-size: 32px;
}

.logo h1 a, .logo h1:hover, .logo h1 a:visited{
  color:#339834;
  text-decoration: none;
}

.sns{
  text-align: right;
}

.btn.btn-default.mitsumori{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fce9c4+0,f99e16+100 */
background: rgb(252,233,196); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,233,196,1) 0%, rgba(249,158,22,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,233,196,1)), color-stop(100%,rgba(249,158,22,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,233,196,1) 0%,rgba(249,158,22,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,233,196,1) 0%,rgba(249,158,22,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,233,196,1) 0%,rgba(249,158,22,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,233,196,1) 0%,rgba(249,158,22,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce9c4', endColorstr='#f99e16',GradientType=0 ); /* IE6-9 */
  font-size: 16px;
  border:solid 1px #F99E16;
  margin-bottom:5px;
  width: 250px;
}

.btn.btn-default.mitsumori:hover{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f99e16+0,fce9c4+100 */
background: rgb(249,158,22); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,158,22,1) 0%, rgba(252,233,196,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,158,22,1)), color-stop(100%,rgba(252,233,196,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(249,158,22,1) 0%,rgba(252,233,196,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(249,158,22,1) 0%,rgba(252,233,196,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(249,158,22,1) 0%,rgba(252,233,196,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(249,158,22,1) 0%,rgba(252,233,196,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99e16', endColorstr='#fce9c4',GradientType=0 ); /* IE6-9 */
  color: #fff;
}


a.mitsumori:visited ,a.toiawase:visited{
  color: #2e5e3c;
}

.btn.btn-default.toiawase{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c0f7f0+0,339834+100 */
background: rgb(192,247,240); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(192,247,240,1) 0%, rgba(51,152,52,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,247,240,1)), color-stop(100%,rgba(51,152,52,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(192,247,240,1) 0%,rgba(51,152,52,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(192,247,240,1) 0%,rgba(51,152,52,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(192,247,240,1) 0%,rgba(51,152,52,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(192,247,240,1) 0%,rgba(51,152,52,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0f7f0', endColorstr='#339834',GradientType=0 ); /* IE6-9 */

  font-size: 16px;
  border:solid #339834 1px;
  margin-bottom:5px;
  width: 250px;
}

.btn.btn-default.toiawase:hover{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#339834+0,c0f7f0+100 */
background: rgb(51,152,52); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(51,152,52,1) 0%, rgba(192,247,240,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,152,52,1)), color-stop(100%,rgba(192,247,240,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(51,152,52,1) 0%,rgba(192,247,240,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(51,152,52,1) 0%,rgba(192,247,240,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(51,152,52,1) 0%,rgba(192,247,240,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(51,152,52,1) 0%,rgba(192,247,240,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339834', endColorstr='#c0f7f0',GradientType=0 ); /* IE6-9 */

  color: #fff;
}


.navigation{
  background:#bef7ae;
  border-top:solid 1px #bef7ae;
  border-top:solid 1px #bef7ae;
}

.navbar-default .navbar-toggle{
  border-color: #339834;
}

.navbar-default .navbar-toggle:hover{
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus{
  background-color: #bef7ae;
}


.navbar{
  border-radius: 0px;
  margin-bottom: 0px;
  background:#bef7ae;
  border:none;
}

.navbar-nav {
  background:#bef7ae;
  float: none;
  margin: 0;
  border-left:1px solid #339834;
}
.navbar-nav > li {
  border-right: 1px solid #339834;
  border-top:none;
  width:16.666%;
  text-align:center;
  white-space: nowrap;
  font-size: 120%;
  }

.navbar-nav li a{
  padding-left:0px;
  padding-right:0px;
}

@media screen and (max-width: 767px) {
.navbar-nav > li {
  width:100%;
}
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background: #339834;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color:#339834;
  background: #fff;
}

main{
/* Firefox */
background: -moz-linear-gradient(top center, #fff 0%, #bef7ae 100%);
/* Chrom と Safari */
background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#bef7ae));
/* 共通 */
background: linear-gradient(top center, #fff 0%, #bef7ae 100%);

padding-bottom: 20px;
}

.eyecatch{
  height: 0;
  padding-top: 42.35%;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}


.eyecatch h2{
  background-image: none;
  position: absolute;
  top:10%;
  left:14%;
  font-size: 36px;
  text-align: center;
  font-weight:normal;
  color:#339834;
  text-shadow:3px 3px 5px #fff;
}

@media screen and (max-width: 992px) {
  .eyecatch h2{
      font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .eyecatch h2{
    top:5%;
    left:10%;
    font-size: 16px;
  }
}


.main1{
  width: 80%;
  background-color: #fff;
  font-size: 20px;
  line-height: 2em;
  margin-top:50px;
  margin-bottom:20px;
  border:double 5px #339834;
  border-radius: 10px;
  padding:10px 50px;
  text-align: center;
}

.main2 img,.price img{
  width:100%;
  height: auto;
}

.main2 .sample{
  position: relative;
}

.main2 .sample .text{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.8);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  color: #339834;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  padding-top:30%;
}

.main2 .sample .text:hover{
 opacity: 1;
}

.main2 .comment{
  font-size: 20px;
  line-height: 2em;
  background-color: #fff;
  margin-top:50px;
  margin-bottom:20px;
  border:double 5px #339834;
  border-radius: 10px;
  padding:10px 50px;
  text-align: center;
}

.service, .staff{
  margin-bottom: 50px;
  text-align: center;
}

.service h3{
  text-align: left;
}

.service img, .staff img{
  width: 80%;
}

.area{
position: relative;
}

.area .text{
  position: absolute;
  top:10%;
  left: 5%;
}

.area .text p{
  display: inline-block;
  background-image: url("../images/map-bg.png");
  border-radius:10px;
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  padding:20px;
}

@media screen and (max-width: 767px) {
  .area .text{
    top:15%;
  }

  .area .text p{
      font-size: 16px;
      margin:12px;
      padding:10px;
    }
}

.area img{
  width: 100%;
}

.price{
  font-size: 16px;
  margin-bottom: 30px;
}

.price table{
  background-color: #fff;
  border-color: #dfffdf;
  text-align: center;
}

.price table caption{
  color: #2e5e3c;
}

.price table th{
  background-color: #bef7ae;
  text-align: center;
}

.faq{
  background-color: rgba(255,255,255,0.5);
}

.question{
  font-size: 16px;
  line-height: 1.2em;
}

.question ul{
  list-style-type: none;
}

.question ul li{
  background-image: url("../images/Q.png");
  background-repeat: no-repeat;
  margin-top:15px;
  padding-left:30px;
}

.answer {
  font-size:16px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.answer dt{
  height: 3em;
  margin-top:20px;
  padding-top:30px;
  padding-left:30px;
  background-image: url("../images/greenline.png"),url("../images/Q.png");
  background-repeat: repeat-x,no-repeat;
  background-position: top,bottom left;
}

.answer dd{
  margin-top:20px;
  padding-left:30px;
  background-image: url("../images/A.png");
  background-repeat: no-repeat;
  line-height: 1.8em;
}

.blog h3{
  background-image: url("../images/leaf2.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-left: 25px;
}

.blog a , .blog ,.blog a:visited{
   color: #2e5e3c;
}

.blog .blog-left{
  background-color:rgba(255,255,255,0.3);
  border: double 4px #339834;
  border-radius: 10px;
  margin-bottom: 20px;
  padding:10px 20px;
}

.blog .blog-left .date{
  text-align: right;
}

.blog .blog-left .content{
  padding:10px 10px 5px 10px;
  border-top:solid 1px #aceeac;
  border-bottom: solid 1px #aceeac;
}

.blog .blog-left img {
  width: 100%;
}

.blog .blog-left .next a, .blog .blog-left .next a:visited{
  color: #dd7812;
}

.blog .blog-left .next a:hover{
  color: #facd89;
}

.blog .blog-left .category{
  text-align: right;
  margin-right: 20px;
}

.blog .side-bar ul{
  list-style: none;
  margin-bottom: 30px;
  padding-left: 10px;
}

.blog .side-bar ul li{
  border-bottom:double 3px #aceeac;
  padding-left: 20px;
  line-height: 2em;
}

.blog .side-bar ul li a, .blog .side-bar ul li a:visited{
    color: #2e5e3c;
}

.blog .side-bar ul li a:hover{
  text-decoration: none;
}

.blog .side-bar .side-button{
  text-align: center;
  margin:10px;
  padding-top: 20px;
}

.blog .side-bar .side-button .btn{
  width: 100%;
}

@media screen and (max-width: 992px) {
  .blog .side-bar .side-button {
    display: none;
  }
}


.button-area{
  margin-top:100px;
  margin-bottom:50px;
  text-align: center;
  line-height: 1.8em;
}

.gotop{
  text-align: right;
  font-size: 16px;
}

#foot-navi{
  background-color: #339834;
  color: #fff;
  text-align: center;
  padding:20px 0;
}

#foot-navi a{
  color: #fff;
}

#foot-navi ul{
  padding-left: 0px;
    margin-bottom:0px;
}

#foot-navi ul li{
  list-style: none;
  display: inline-block;
}